.auth__submit-btn {
  margin-top:216px;
  background-color:#FFFFFF;
  border-radius:2px;
  font-family:"Inter", "Arial ", sans-serif;
  font-style:normal;
  font-weight:400;
  font-size:18px;
  line-height:22px;
  text-align:center;
  color:#000000;
  padding-top:14px;
  padding-bottom:13px;
  cursor:pointer;
  transition:all 0.5s;
  border:0;
}

.auth__submit-btn:hover {
  opacity:0.8;
}

@media screen and (max-width:768px) {
  .auth__submit-btn {
    font-size: 16px;
    line-height: 19px;
    margin-top:173px;
    padding-bottom:15px;
  }
}
